.error
{
color:red;
}

.main-container
{
width:50hw;
height:auto;
border:1px solid black;
}

.header
{
padding-right:10px;
margin:5px;
width:90hw;
height:10vh;
border:2px solid black;
}

.logo
{
float:left;
margin-left:2px;
margin-top:2px;
margin-bottom:2px;
}

.brand-name
{

margin-top:7px;
margin-bottom:7px;
margin-left:10px;
margin-right:3px;
font-size:30pt;
border:1px solid white;
float:left;
}

.user-panel
{
width:100hw; 
padding:1px;margin:4px; 
margin-left:965px; 
height:8vh; 
border:2px solid black;
}

.user-name
{
margin:15px; 
font-size:26; 
float:left
}

.logout
{
margin:15px; 
text-align:right; 
font-size:20;
}

.content
{
width:50hw;
height:70vh;
margin:5px;
border:1px solid white;
}

.left-panel
{
height:65vh;
margin:5px;
padding:5px; 
float:left; 
border:1px solid black;
}

.right-panel
{
height:65vh;
margin-left:105px;
margin-right:5px;
margin-top:5px;
margin-bottom:5px;
padding:5px;
overflow:scroll;
border:1px solid black;
}

.footer
{
width:50hw;
height:auto;
margin:5px;text-align:center;
border:1px solid black;
}