.employee-grid
{
height:40vh; 
margin-left:15px;
margin-right:10px;
margin-top:5px;margin-bottom:5px; 
padding:5px; overflow:scroll;
border:1px solid black;
}

.employee-grid-header
{
text-align:right; 
padding:5px
}

.employee-grid-sno-column-title
{
width:80px;
text-align:center;
}

.employee-grid-id-column-title
{
width:150px;
text-align:center
}



.employee-grid-name-column-title
{
width:150px;
text-align:center;
}

.employee-grid-designation-column-title
{
width:150px;
text-align:center;
}


.employee-grid-edit-column-title
{
width:100px;
text-align:center
}

.employee-grid-delete-column-title
{
width:100px;
text-align:center
}
